body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    text-align: center;
    padding: 20px;
}

.weather-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    width: 70%;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#weather-info {
    margin-top: 20px;
}

.hidden {
    display: none;
}

#error-message {
    color: red;
}


/* Suggestions list */

.suggestions-list {
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-top: none;
    position: absolute;
    width: 70%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    margin-top: 2px;
}

.suggestions-list div {
    padding: 10px;
    cursor: pointer;
}

.suggestions-list div:hover {
    background-color: #f0f0f0;
}


/* Weather details */

.weather-details {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.weather-details p {
    margin: 5px 0;
}
